<ActionBar title="Demo App" class="action-bar"> </ActionBar>

<DockLayout stretchLastChild="true" class="page">

  <Button text="Scan for devices"
          (tap)="startScanning()"
          class="btn btn-primary btn-rounded-sm"
          dock="top"></Button>

  <ListView [items]="devices"
            class="list-group"
            dock="bottom">

    <ng-template let-device="item">
      <Label [nsRouterLink]="['/item', device.UUID]"
             [text]="device.name"
             class="list-group-item">
      </Label>
    </ng-template>

  </ListView>

</DockLayout>
